<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%} {%endblock%}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <style>
        .sidenav {
            height: 100%;
            width: 300px;
            position: fixed;
            top: 71px;
            right: 0;
            background-color: rgba(74, 75, 78, 0.46);
            overflow-x: hidden;
            padding-top: 20px;
          }
    </style>
</head>
<body style="background-color: #070427;">
    <nav class="navbar fixed-top" style="background-color:rgba(74, 75, 78, 0.46)">
        <div class="container-fluid">
          {%if request.user.user_type == "company" %}
          <a class="navbar-brand" style="font-size: 30px;" href="{% url 'sub-forum' request.user.companyprofile %}"><b> Forum</b></a>
          {%else%}
          <a class="navbar-brand" style="font-size: 30px;" href="{% url 'forum-main'%}"><b> Forum</b></a>
          {%endif%}
          <a href="{% url 'back-home' %}" class="btn btn-outline-success">Home</a>
        </div>
      </nav>
    <div class="sidenav">
      {%if request.user.user_type == "company" %}
        <h2 style="color: whitesmoke; padding-left:20px"> Queries</h2>
        <div class="card" style="margin :10px 20px;background-color: #070427;border-left: solid yellow 5px">
            <div class="card-body">
              <a href="{% url 'sub-forum' request.user.companyprofile %}" style="text-decoration: none;color:whitesmoke;font-size:20px" >All Queries</a>

            </div>
          </div>
        {%else%}
        <h2 style="color: whitesmoke; padding-left:20px"> SubForums</h2>
        <div class="card" style="margin :10px 20px;background-color: #070427;border-left: solid yellow 5px">
            <div class="card-body">
              <a href="{% url 'forum-main' %}" style="text-decoration: none;color:whitesmoke;font-size:20px" >General</a>
            </div>
          </div>
          {%endif%}
          {%block sidebar%}
          
          {%endblock%}
    </div>
    {%block display%}

    {%endblock%}
</body>
</html>