{% extends 'registration/base.html'%} 

{% block title%}
Register
{%endblock%}

{% block content%}
    {%if request.user.is_authenticated %}
    <p>Alredy logged in</p>
    {%else%}

    <div class="card" style="width: 35rem;height:auto; margin:25rem;margin-top:5%;border-radius:15px;background-color:#0E057C;color:beige;padding:0px 100px">
        <div class="card-body">
          <h3 class="card-title">Register</h3>
          
            <form method="POST" class="needs-validation" novalidate>
                <div class="form-group">
                {%csrf_token%}
                {% for field in form %}
                    <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <br>
                        {% for e in field.errors%}
                        <div class="invalid-feedback form-control is-invalid" style="display: flex;">
                        {{ e}}
                        </div>
                        {%endfor%}

                    {% endif %}

                {% endfor %}
            </div>
    
                <br>
                <button class="btn btn-primary" style="margin-left:110px">Register</button>
                </div>
            </form>
        
        </div>
      </div>
    
    {%endif%}
{%endblock%}




