{% extends 'student/basic.html' %}

{% block title %}
Student Resume
{%endblock%}

{% block name %}
Edit resume
{%endblock%}

{%block display%}
    {%if request.user.is_authenticated and request.user.user_type == "student" and request.user.studentresume.id == studentresume.id %}
            <!--sidebar start-->
    

    <div class="sidebar"style="z-index:1">
        <a href="{% url 'job-list-view' %}"><i class="fa fa-building" aria-hidden="true"></i><span>Jobs</span></a>
        <a id="active-link" href="{% url 'forum-main'%}"><i class="fas fa-desktop"></i><span>Forum</span></a>
        <a href="{% url 'student-profile' request.user.id %}"><i class="fa fa-user" aria-hidden="true"></i><span>Profile</span></a>

        
        </div>
        <!------------side bar ends here-->
        <div style="padding:100px ;padding:100px 290px">

        <div class="form-group">
            <form method="POST">
                {%csrf_token%}
                {{form.as_p}}
                <a href="#"><button class="btn btn-primary"  >Update</button></a>
                
            </form>
            <script>
                var id="{{ user.id}}";
                document.getElementById("user-box").value=id;
            </script>
        </div>
        </div>
        
    {%else%}
    <div style="padding: 100px; font-size:larger;" >
        <h2>This Page Isnt Available</h2>
        <p>The requested URL was not found on the server. If you entered the URL manually please check your spelling and try again.</p>
      </div>  
    {%endif%}
{%endblock%}