{%extends 'company/basic.html'%}

{%block title%}

Students in Selected list
{%endblock%}

{%block name%}
List of Selected Students
{%endblock%}

{% block display%}
    {%if request.user.is_authenticated and request.user.user_type == "company"  %}    
    <div class="sidebar" style="z-index: 1;">
        <a href="{% url 'jobs-list'%}"><i class="fa fa-building" aria-hidden="true"></i><span>Jobs</span></a>
        <a id="active-link" href="#"><i class="fas fa-desktop"></i><span>Forum</span></a>
        {% if request.user.companyprofile %}
        <a href="{% url 'edit-c-profile' request.user.companyprofile.id %}"><i class="fa fa-id-badge" aria-hidden="true"></i><span>Details</span></a>
        {%else%}
        <a href="{% url 'create-c-profile' %}"><i class="fa fa-id-badge" aria-hidden="true"></i><span>Details</span></a>
        {%endif%}
        <a href="{% url 'company-profile'%}"><i class="fa fa-user" aria-hidden="true"></i><span>Profile</span></a>
        
    </div>
    


    <div style="padding: 100px 290px;">
        {% for job in jobs %}

        <h1 style="color: blue;font-weight:400">{{job.position}}<hr style="color: blue;height:3px"></h1>
            <table class="table">
                <tbody>
                    {% for apply in selected%}
                        {% if job == apply.job%}
                        <tr>
                            <td style="text-transform: capitalize;font-size:22px;font-weight:bolder;">{{apply.selected_applicants.studentresume.user.first_name}} {{apply.selected_applicants.studentresume.user.last_name}}</td>
                            <td><a href="mailto:{{apply.selected_applicants.studentresume}}" title="Mail to: {{apply.selected_applicants.studentresume}}"><i class="far fa-envelope fa-2x"></i></a></td>
                            <td><a href="{% url 'student-resume-c' apply.job.id apply.selected_applicants.studentresume.id %}" class="btn btn-primary" >Resume</i></a></td>
                        </tr>
                        {%endif%}
                        
                    {%endfor%}
                </tbody>
            </table>
            <br><br>
        {%endfor%}

    </div>
    {%endif%}


{%endblock%}